#  T-tests and P-values

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

* **Student's t-test** (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of **two independent populations** (e.g. test scores of students in two different classes). `scipy` provides the [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html) method to conduct student's t-test.

* **Paired t-test** (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of **the same population** (e.g. scores of different tests of students in the same class). `scipy` provides the [`ttest_rel`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_rel.html) method to conduct paired t-test.

Both types of t-tests return a number which is called the **p-value**. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in [this article](http://b.link/test50) and [this Quora](http://b.link/unpaired97). Make sure you understand when to use which type of t-test.

In [3]:
# # Import libraries
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

### One tailed t-test 
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/ttest_machine.xlsx. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

#### Import dataset

In [21]:
# Your code here:
data = pd.read_csv('ttest_machine.txt', sep = ' ')
data

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [25]:
old_machine_mean = data['Old_machine'].mean()
old_machine_mean

43.230000000000004

In [26]:
# H0 = > mean new_machine speed >= mean old_machine speed 
# H1 = > mean new_machine speed < mean old_machine speed 

st.ttest_1samp(data['New_machine'], old_machine_mean)

Ttest_1sampResult(statistic=-5.04331853503833, pvalue=0.0006966376076759033)

In [27]:
new_machine_mean = data['New_machine'].mean()
print("Mean of speed for New Machines:" , new_machine_mean)

Mean of speed for New Machines: 42.14

#### p-value is low, so we reject the H0. hence, we conclude that the new machine mean is not greater than the old machine mean.

#### Import dataset

In this challenge we will work on the Pokemon dataset you have already used. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.). Use pokemon.csv

In [30]:
# Your code here:
pk = pd.read_csv('pokemon.txt', sep = ',')
pk

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

#### First we want to define a function with which we can test the means of a feature set of two samples. 

In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called **docstring** which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

In [62]:
def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    results = {}
    
    for item in features:
        results[item] = st.ttest_ind(s1[item], s2[item], equal_var = False).pvalue   
    return results

In [63]:
s1 = pk[pk['Legendary']==True].sample(30)
s2 = pk[pk['Legendary']==False].sample(30)
display(s1.head())
s2.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
708,645,LandorusIncarnate Forme,Ground,Flying,600,89,125,90,115,80,101,5,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True
544,487,GiratinaAltered Forme,Ghost,Dragon,680,150,100,120,100,120,90,4,True

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
390,357,Tropius,Grass,Flying,460,99,68,83,72,87,51,3,False
645,584,Vanilluxe,Ice,NaN,535,71,95,85,110,95,79,5,False
565,506,Lillipup,Normal,NaN,275,45,60,45,25,45,55,5,False
770,700,Sylveon,Fairy,NaN,525,95,65,65,110,130,60,6,False
768,698,Amaura,Rock,Ice,362,77,59,50,67,63,46,6,False

In [64]:
t_test_features(s1,s2)

{'HP': 2.060316910934507e-05,
 'Attack': 4.138083770870662e-10,
 'Defense': 0.0008118519645444067,
 'Sp. Atk': 1.8591697790618721e-10,
 'Sp. Def': 0.00021336331565532897,
 'Speed': 3.826753228521435e-07,
 'Total': 3.743931818646907e-14}

#### Using the `t_test_features` function, conduct t-test for Lengendary vs non-Legendary pokemons.

*Hint: your output should look like below:*

```
{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}
 ```

In [65]:
# Your code here

#### From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

In [80]:
# Your comment here

# HO: s1 pokemons = s2 pokemons 
# H1: s1 pokemons != s2 pokemons 

#Yes, the stats are not equal. The low p-value indicates that the probaibilitity of the features based on
#if they are legendary or not is very different from each other in all features.

#### Next, conduct t-test for Generation 1 and Generation 2 pokemons.

In [67]:
# Your code here

G1 = pk[pk['Generation']==1].sample(30)
G2 = pk[pk['Generation']==2].sample(30)
display(G1.head())
G2.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
60,55,Golduck,Water,NaN,500,80,82,78,95,80,85,1,False
69,64,Kadabra,Psychic,NaN,400,40,35,30,120,70,105,1,False
128,119,Seaking,Water,NaN,450,80,92,65,65,80,68,1,False
92,85,Dodrio,Normal,Flying,460,60,110,70,60,60,100,1,False

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
201,186,Politoed,Water,NaN,500,90,75,75,90,100,70,2,False
170,156,Quilava,Fire,NaN,405,58,64,58,80,65,80,2,False
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False
202,187,Hoppip,Grass,Flying,250,35,35,40,35,55,50,2,False
193,179,Mareep,Electric,NaN,280,55,40,40,65,45,35,2,False

In [61]:
t_test_features(G1,G2)

{'HP': 0.01795655867947542,
 'Attack': 0.9695212694492965,
 'Defense': 0.4643867431601941,
 'Sp. Atk': 0.4682042433572381,
 'Sp. Def': 0.19813562397228096,
 'Speed': 0.3666900645642398,
 'Total': 0.7299604868408787}

#### What conclusions can you make?

In [79]:
# Your comment here
# HO: G1 pokemons = G2 pokemons 
# H1: G1 pokemons != G2 pokemons 
# p-value is greater than the significance level of 0.05 so we can conclude that the H1 is valid.

#### Compare pokemons who have single type vs those having two types.

In [ ]:
# HO: twotype pokemons = singletype pokemons 
# H1: twotype pokemons != singletype pokemons

In [69]:
# Your code here
twotype = pk[pk['Type 2'].notnull()]
singletype = pk[pk['Type 2'].isnull()]

In [70]:
t_test_features(twotype,singletype)

{'HP': 0.11314389855379421,
 'Attack': 0.00014932578145948305,
 'Defense': 2.7978540411514693e-08,
 'Sp. Atk': 0.00013876216585667842,
 'Sp. Def': 0.00010730610934512779,
 'Speed': 0.02421703281819094,
 'Total': 1.1157056505229961e-07}

#### What conclusions can you make?

In [71]:
# Your comment here
#only the HP feature is dependent or similar between the two different types

#### Now, we want to compare whether there are significant differences of `Attack` vs `Defense`  and  `Sp. Atk` vs `Sp. Def` of all pokemons. Please write your code below.

*Hint: are you comparing different populations or the same population?*

In [75]:
# Your code here
st.ttest_rel(pk['Attack'], pk['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

#### What conclusions can you make?

In [76]:
# Your comment here

# HO: Attack and Defense are similar 
# H1: They are not similar
# Significance Level: 0.05

In [77]:
st.ttest_rel(pk['Sp. Atk'], pk['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

In [78]:
# Your comment here

# HO: Sp. Atk and Sp. Def are similar 
# H1: They are not similar
# Significance Level: 0.05